/*
================
START NAVIGATION
================
*/

nav {
    background-color: #131313;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-logo-icon {
    margin-left: 10px;
}

.nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
}

.nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.nav-item a {
    color: #ffffff;
    font-size: 14px;
}

/*
============
START HEADER
============
*/

.header-container {
    height: 420px;
    background-color: #E43A63;
    background-image: url("../assets/images/category/Union-1.png");
}

.header-main {
    padding-right: 7%;
    padding-left: 7%;
}

.header-image {
    position: relative;
}

.header-image img {
    height: 420px;
    width: 420px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: sepia(1) hue-rotate(300deg) brightness(1);
    filter: sepia(1) hue-rotate(300deg) brightness(1);
}

.header-background {
    top: 0;
    position: absolute;
    width: 420px;
    height: 420px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(228, 58, 99, 0.50)), to(rgba(228, 58, 99, 0.50))),
    -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.30)), to(rgba(0, 0, 0, 0.30)));
    background: -o-linear-gradient(bottom, rgba(228, 58, 99, 0.50) 0%, rgba(228, 58, 99, 0.50) 100%),
    -o-linear-gradient(bottom, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background: linear-gradient(0deg, rgba(228, 58, 99, 0.50) 0%, rgba(228, 58, 99, 0.50) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: color, normal, color, normal;
}

.header-content {
    margin-right: 15%;
}

.header-content h3 {
    color: #FFF;
    text-align: right;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    whitespace: nowrap;
    font-size: 30px;
    padding-bottom: 28px;
}

.header-content-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 8px;
}

.header-content-tags a {
    font-size: 10px;
    padding: 4px 8px;
    color: #fff;
    border: 1px solid #ffffff;
}

/*
==================
START BLOG CONTENT
==================
*/

.blog-content {
    padding: 135px 7% 120px;
}

.blog-content p {
    font-size: 16px;
    text-align: justify;
    padding-bottom: 25px;
}

/*
=================
START LATEST NEWS
=================
*/

.last-news-container {
    padding-right: 7%;
    padding-left: 7%;
    margin-bottom: 100px;
}

.last-news-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px;
}

.last-news-title hr {
    width: 100%;
    border: 1px dashed #131313;
}

.last-news-title h2 {
    display: inline-block;
    font-size: 24px;
    width: 16%;
    padding-right: 1.5%;
}

.last-news-title a {
    color: #8A15B2;
    font-size: 20px;
    text-align: end;
    width: 15%;
    padding-left: 1.5%;
}

.last-news-item {
    width: 90%;
    height: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.last-news-item-image {
    position: absolute;
    width: 90%;
    height: 100%;
    background-image: url('../assets/images/lastNews/last-news-1.jpeg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    -webkit-filter: sepia(1) hue-rotate(240deg) brightness(.5);
    filter: sepia(1) hue-rotate(240deg) brightness(.5);
}

.last-news-container .col-lg-3:first-of-type {
    margin-right: 0;
    margin-left: 0;
}

.last-news-item-color {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.last-news-item p {
    position: relative;
    z-index: 2;
    overflow: hidden;
    color: #fff;
    text-align: right;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 16px;
    padding-bottom: 8px;
}

.last-news-item-content {
    position: absolute;
    bottom: 24px;
    padding-right: 20px;
    padding-left: 30px;
}

.last-news-item-content p {
    cursor: pointer;
}

.last-news-item-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 8px;
}

.last-news-item-tags a {
    font-size: 10px;
    padding: 4px 8px;
    color: #fff;
    border: 1px solid #ffffff;
}