/*
================
START NAVIGATION
================
*/

nav {
    background-color: #131313;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-logo-icon {
    margin-left: 10px;
}

.nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
}

.nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 75%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.nav-item a {
    color: #ffffff;
    font-size: 14px;
}

/*
============
START HEADER
============
*/

.header-container {
    height: 420px;
    background-color: #E43A63;
    background-image: url("../assets/images/category/Union-1.png");
}

.header-main {
    padding-right: 7%;
    padding-left: 7%;
}

.header-image {
    position: relative;
}

.header-image img {
    height: 420px;
    width: 420px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-filter: sepia(1) hue-rotate(300deg) brightness(1);
    filter: sepia(1) hue-rotate(300deg) brightness(1);
}

.header-background {
    top: 0;
    position: absolute;
    width: 420px;
    height: 420px;
    background: -o-linear-gradient(bottom, rgba(228, 58, 99, 0.50) 0%, rgba(228, 58, 99, 0.50) 100%),
    -o-linear-gradient(bottom, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(228, 58, 99, 0.50)), to(rgba(228, 58, 99, 0.50))),
    -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.30)), to(rgba(0, 0, 0, 0.30)));
    background: linear-gradient(0deg, rgba(228, 58, 99, 0.50) 0%, rgba(228, 58, 99, 0.50) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: color, normal, color, normal;
}

.header-content {
    margin-right: 15%;
}

.header-content h3 {
    color: #FFF;
    text-align: right;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    whitespace: nowrap;
    font-size: 30px;
    padding-bottom: 28px;
}

.header-content-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 8px;
}

.header-content-tags a {
    font-size: 10px;
    padding: 4px 8px;
    color: #fff;
    border: 1px solid #ffffff;
}

/*
==================
START BLOG CONTENT
==================
*/

.blog-content {
    padding: 135px 7% 120px;
}

.blog-content p {
    font-size: 16px;
    text-align: justify;
    padding-bottom: 25px;
}

/*
=================
START LATEST NEWS
=================
*/

.last-news-container {
    padding-right: 7%;
    padding-left: 7%;
    margin-bottom: 100px;
}

.last-news-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px;
}

.last-news-title hr {
    width: 100%;
    border: 1px dashed #131313;
}

.last-news-title h2 {
    display: inline-block;
    font-size: 24px;
    width: 16%;
    padding-right: 1.5%;
}

.last-news-title a {
    color: #8A15B2;
    font-size: 20px;
    text-align: end;
    width: 15%;
    padding-left: 1.5%;
}

.last-news-item {
    width: 90%;
    height: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.last-news-item-image {
    position: absolute;
    width: 90%;
    height: 100%;
    background-image: url('../assets/images/lastNews/last-news-1.jpeg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    -webkit-filter: sepia(1) hue-rotate(240deg) brightness(.5);
    filter: sepia(1) hue-rotate(240deg) brightness(.5);
}

.last-news-container .col-lg-3:first-of-type {
    margin-right: 0;
    margin-left: 0;
}

.last-news-item-color {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.last-news-item p {
    position: relative;
    z-index: 2;
    overflow: hidden;
    color: #fff;
    text-align: right;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 16px;
    padding-bottom: 8px;
}

.last-news-item-content {
    position: absolute;
    bottom: 24px;
    padding-right: 20px;
    padding-left: 30px;
}

.last-news-item-content p {
    cursor: pointer;
}

.last-news-item-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 8px;
}

.last-news-item-tags a {
    font-size: 10px;
    padding: 4px 8px;
    color: #fff;
    border: 1px solid #ffffff;
}

/*
===================
START WRITE COMMENT
===================
*/

.write-comment-container {
    padding-right: 7%;
    padding-left: 7%;
}

.write-comment-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.write-comment-title hr {
    width: 100%;
    border: 1px dashed #131313;
}

.write-comment-title h2 {
    display: inline-block;
    font-size: 24px;
    width: 13%;
    padding-right: 1.5%;
}

.write-comment-inputs {
    width: 95%;
}

.write-comment-inputs input {
    width: 97.5%;
}

.write-comment-inputs textarea {
    width: 100%;
    margin-top: 24px;
    height: 168px;
    resize: unset;
}

.write-comment-inputs input[type="email"] {
    float: left;
}

.write-comment-inputs {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.write-comment-inputs input, .write-comment-inputs textarea {
    padding: 21px 16px;
    font-size: 16px;
    border: 1px solid #000000;
    outline: unset;
}

.write-comment-inputs input::-webkit-input-placeholder, .write-comment-inputs textarea::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.write-comment-inputs input::-moz-placeholder, .write-comment-inputs textarea::-moz-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.write-comment-inputs input:-ms-input-placeholder, .write-comment-inputs textarea:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.write-comment-inputs input::-ms-input-placeholder, .write-comment-inputs textarea::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.write-comment-inputs input::placeholder, .write-comment-inputs textarea::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.write-comment-inputs button {
    float: left;
    margin-top: 24px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #8915B2;
    font-size: 18px;
    padding: 10px 41px;
    border: unset;
}

/*
=============
SHOW COMMENTS
=============
*/

.show-comments-container {
    margin-top: 130px;
    padding-right: 7%;
    padding-left: 7%;
}

.show-comment-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 60px;
}

.show-comment-title hr {
    width: 100%;
    border: 1px dashed #131313;
}

.show-comment-title h2 {
    display: inline-block;
    font-size: 24px;
    width: 16%;
    padding-right: 1.5%;
}

.show-comments-item {
    padding-right: 3%;
    padding-left: 3%;
}

.show-comments-user-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: center;
    align-content: center;
}

.show-comments-user-icon h6, .show-comments-user h5, .show-comments-user p {
    font-size: 16px;
    color: #36454E;
}

.show-comments-user-icon h6 {
    padding-right: 16px;
}

.show-comments-user h5 {
    padding-top: 5px;
}

.show-comments-user p {
    padding-top: 24px;
    padding-bottom: 24px;
}

.show-comments-user button {
    cursor: pointer;
    color: #8A15B2;
    font-size: 16px;
    background-color: unset;
    border: unset;
    margin-bottom: 48px;
}

.show-comments-hr {
    margin-bottom: 48px;
}

/*
============
START FOOTER
============
*/

footer {
    margin-top: 80px;
    background-color: #131313;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer-container {
    padding-right: 10%;
    padding-left: 10%;
}

.footer-container img {
    padding-bottom: 12px;
}

.footer-copyright p {
    padding-top: 40px;
    font-size: 12px;
    text-align: center;
}

.footer-copyright span {
    font-size: 14px;
}

.footer-about p, .footer-address p {
    width: 80%;
    text-align: justify;
}

.footer-about p, .footer-menu a, .footer-address h6, .footer-address p, .footer-info h6, .footer-info p {
    font-size: 12px;
}

.footer-address h6, .footer-info h6 {
    padding-bottom: 11px;
}

.footer-menu a {
    display: block;
    color: #ffffff;
    margin-bottom: 7px;
}

.footer-info p {
    margin-bottom: 5px;
}

.footer-info {
    text-align: center;
}

.footer-menu {
    margin-right: 35px;
}

.footer-social {
    cursor: pointer;
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 8px;
}