/*
============
START-HEADER
============
*/

header {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.background-header {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgb(0, 0, 0);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 1)), to(rgba(37, 0, 50, 0.3)));
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 1) 0%, rgba(37, 0, 50, 0.3) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(37, 0, 50, 0.3) 100%);
}

.background-header-black {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.2)));
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%);
    background-blend-mode: normal, color, color;
}

header video {
    width: 100%;
    height: 100%;
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 0;
    -webkit-filter: sepia(1) hue-rotate(240deg) brightness(.9);
    filter: sepia(1) hue-rotate(240deg) brightness(.9)
}

.header-container {
    z-index: 2;
    position: relative;
    color: white;
}

.header-content {
    padding-top: 15%;
}

.header-content h1 {
    font-size: 80px;
    color: rgba(255, 255, 255, 0.50);
    line-height: 97%;
    font-style: normal;
    font-weight: 950;
    letter-spacing: 1.4px;
    padding-right: 13%;
}

.header-content span {
    color: #fff;
    letter-spacing: 0 !important;
}

.header-content p {
    padding-top: 30px;
    font-size: 17px;
    padding-right: 13.5%;
}

.header-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    left: 3%;
    top: 70%;
}

.header-social img {
    width: 20px;
    height: auto;
    margin-bottom: 16px;
    cursor: pointer;
}

/*
================
START-NAVIGATION
================
*/

nav {
    padding-top: 30px;
    padding-right: 55px;
    padding-left: 55px;
}

.nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.nav-item a {
    color: white;
    font-size: 14px;
}

.nav-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header-logo-icon {
    width: 66px;
    height: auto;
}

.header-search-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 120px;
    cursor: pointer;
}

.header-register {
    cursor: pointer;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.20);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 8px;
    margin-left: 18px;
}

.header-quick-access {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end
}

.header-register img {
    margin-left: 8px;
}

.header-multi-lang {
    cursor: pointer;
    background-color: #8915B2;
    padding: 8px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.header-multi-lang p {
    font-size: 14px;
}

.nav-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
}

.nav-icon h4 {
    margin-right: 15px;
    font-size: 16px;
    line-height: 20px;
}

.nav-icon h4 span {
    font-size: 20px;
    line-height: 27px;
}

/*
===============
START LAST NEWS
===============
*/

.last-news-container {
    margin-top: 80px;
    padding-right: 7%;
    padding-left: 7%;
    margin-bottom: 100px;
}

.last-news-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 24px;
}

.last-news-title hr {
    width: 100%;
    border: 1px dashed #131313;
}

.last-news-title h2 {
    display: inline-block;
    font-size: 24px;
    width: 12%;
    padding-right: 1.5%;
}

.last-news-title a {
    color: #8A15B2;
    font-size: 20px;
    text-align: end;
    width: 14%;
    padding-left: 2.5%;
}

.last-news-item {
    width: 90%;
    height: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.last-news-item-image {
    position: absolute;
    width: 85%;
    height: 100%;
    background-image: url('../assets/images/lastNews/last-news-1.jpeg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    -webkit-filter: sepia(1) hue-rotate(240deg) brightness(.5);
    filter: sepia(1) hue-rotate(240deg) brightness(.5);
}

.last-news-container .col-lg-3:first-of-type {
    margin-right: 0;
    margin-left: 0;
}

.last-news-item-color {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.last-news-item p {
    position: relative;
    z-index: 2;
    overflow: hidden;
    color: #fff;
    text-align: right;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 16px;
    padding-bottom: 8px;
}

.last-news-item-content {
    position: absolute;
    bottom: 24px;
    padding-right: 20px;
    padding-left: 30px;
}

.last-news-item-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    gap: 8px;
}

.last-news-item-tags a {
    font-size: 10px;
    padding: 4px 8px;
    color: #fff;
    border: 1px solid #ffffff;
}