@media (max-width: 2000px) {
    .category-right-button {
        right: 10%;
    }

    .category-left-button {
        left: 10%;
    }
}

@media (max-width: 1800px) {
    /*NOTHING*/
}

@media (max-width: 1600px) {
    .last-news-container, .introduction-container, .category-list, .favorite-posts-container, .media-container {
        padding-right: 0;
        padding-left: 0;
    }

    .footer-container {
        padding-right: 3%;
        padding-left: 3%;
    }

    .nav-container {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .introduction-content img {
        width: 90%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .introduction-description p {
        width: 98%;
    }

    .category-right-button {
        right: 2%;
    }

    .category-left-button {
        left: 2%;
    }
}

@media (max-width: 1400px) {
    .nav-container, .header-register, .header-multi-lang, .introduction-title-line {
        display: none;
    }

    .header-mobile-logo {
        display: block;
    }

    .header-content h1, .header-content p {
        padding-right: 10%;
    }

    .header-social {
        left: 5%;
    }

    .media-title a {
        width: 15% !important;
    }

    .media-title h2 {
        width: 6% !important;
    }
}

@media (max-width: 1200px) {
    .header-search-icon {
        margin-left: 0;
    }

    .header-content p {
        padding-top: 0;
    }

    .header-content h1 {
        font-size: 65px;
    }

    .last-news-title hr {
        display: none;
    }

    .introduction-description p {
        font-size: 16px;
    }

    .introduction-content img {
        width: 95%;
    }

    .category-content h2, .main-favorite-posts .last-news-item-content p {
        font-size: 22px;
    }

    .category-content h3 {
        font-size: 14px;
    }

    .main-favorite-posts .last-news-item-image, .media-item {
        margin-right: 2%;
    }
}

@media (max-width: 992px) {
    .nav-logo, .header-search-icon {
        display: none;
    }

    .last-news-title {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .last-news-title h2, .last-news-title a, .favorite-posts-title h2, .favorite-posts-title a {
        width: auto !important;
    }

    .last-news-item, .media-item {
        position: relative;
        margin-bottom: 30px;
    }

    .favorite-posts-item {
        margin-bottom: 0 !important;
    }

    .last-news-item-image, .media-image {
        width: 100%;
        background-size: cover;
    }

    .last-news-item-content {
        bottom: 10%;
        padding-right: 35px;
    }

    .introduction-description p {
        margin-top: 20px;
    }

    .last-news-item:hover .last-news-item-image {
        background-size: cover;
    }

    .main-favorite-posts {
        height: 300px !important;
        width: 90% !important;
    }

    .main-favorite-posts .last-news-item-image {
        width: 100% !important;
        height: 100% !important;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-logo {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-about p {
        margin-bottom: 25px;
    }

    .footer-menu {
        margin-right: 0;
    }

    .footer-about p, .footer-address p {
        width: 100%;
    }

    .footer-address {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .footer-info h6, .footer-info p {
        text-align: right;
    }

    .main-favorite-posts .last-news-item-content p {
        font-size: 16px;
        padding-left: 0;
    }
}


@media (max-width: 768px) {
    .header-content h1 {
        font-size: 50px;
    }
}

@media (max-width: 576px) {
    .header-content h1 {
        font-size: 35px;
        letter-spacing: 0.2px;
    }
}